.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputfield {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  border-color: aqua;
  font-size: large;
  
}

.btn-submit {
    background-color: aqua;
    width: 260px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}